@use '../../variables';

.contentToDisplay {
    position: relative;
    width: 100%;
    margin: 0 20px;
    transition: height 500ms ease-in;

    p, li {
        margin: 0 0 20px 0;
        font-size: 1.5em;
    }

    ul {
        display: flex;
        justify-content: space-evenly;
    }

    &__dropdown {
        height: auto;
        transition: height 500ms ease-in;
    }
}