@use '../../variables';

.errorPage {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: variables.$fourth-color;

    @media (max-width: variables.$small-screen) {
        margin: 40px 0 0 0;
    }

    > :first-child {
        font-size: 10em;
        font-weight: 700;

        @media (max-width: variables.$medium-screen) {
            font-size: 10em;
        }

        @media (max-width: variables.$small-screen) {
            font-size: 6em;
        }
    }

    > :nth-child(2n+0) {
        font-size: 2em;
        font-weight: 500;

        @media (max-width: variables.$medium-screen) {
            width: 70%;
            text-align: center;
            font-size: 1.5em;
        }

        @media (max-width: variables.$small-screen) {
            font-size: 1em;
        }
    }

    a {
        position: relative;
        font-size: 2em;
        text-decoration: none;
        color: variables.$fourth-color;
        z-index: 2;
        text-decoration: underline;

        &:hover {
            color: variables.$second-color;
            text-decoration: none;
        }

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            width: 0;
            height: 1.3em;
            background-color: variables.$third-color;
            opacity: 0.5;
            transition: width 0.3s ease;
        }

        &:hover::after {
            width: 101%;
        }

        @media (max-width: variables.$small-screen) {
            text-align: center;
            ;
        }
    }
}