@use '../../variables';

.nav__linkContainer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        border: 2px solid variables.$third-color;
        transition: border 0.5s ease;
    }

    @media (max-width: variables.$large-screen) {
        width: 150px;
        height: 150px;
    }

    @media (max-width: variables.$medium-screen) {
        width: 100px;
        height: 100px;
    }

    @media (max-width: variables.$small-screen) {
        width: 75px;
        height: 75px;
    }

}

.nav__navLink {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    border-radius: 20px;
    // padding: 10px 20px;
    transform: translate(var(--tx, 0), var(--ty, 0));
    opacity: var(--opacity, 0.4);
    transition: all 0.2s ease-in-out;

    @media (max-width: variables.$large-screen) {
        font-size: 1em;
    }

    img {
        height: 50px;
        width: 50px;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        border-radius: 50%;
        padding: 15px;
        margin: 0 10px 0 0;

        @media (max-width: variables.$large-screen) {
            height: 30px;
            width: 30px;
            margin: 0 15px 0 0;
        }

        @media (max-width: variables.$medium-screen) {
            margin: 0;
        }
    }

    span {
        @media (max-width: variables.$medium-screen) {
            display: none;
        }
    }

    &:hover {
        color: variables.$third-color;
        font-weight: 500;
        transition: all 0.5s ease;
    }

    &.active {
        opacity: 1;
        color: variables.$third-color;
        font-weight: 500;
        transition: all 0.5s ease;

        >img {
            border: 2px solid variables.$third-color;
            transition: border 0.5s ease;
        }
    }
}