@use '../../variables';

.profilPage {
    margin: auto 0 auto 80px;
    width: 70vw;
    height: 70vh;
    cursor: col-resize;
    overflow: hidden;

    &__mobile {
        margin: 80px 0 0 0;
        width: 200%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        left: -50%;

        h2 {
            margin: 0 0 50px 0;
            font-size: 3em;
            font-weight: 1000;
            font-family: variables.$second-font-family;
            color: variables.$third-color
        }

        ul {
            margin: 70px 0 30px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            overflow: visible;
            transition: none;
        }

        li {
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 700;
            background-color: variables.$third-color;
            color: variables.$second-color;
        }
    }
}