@use '../../variables';

.profilPage {
    margin: auto 0 auto 80px;
    width: 70vw;
    height: 70vh;
    cursor: col-resize;
    overflow: hidden;

    &__mobile {
        margin: 80px 0 0 0;
        width: 200%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        overflow: hidden;
        left: -50%;

        h2 {
            margin: 0 0 50px 0;
            font-size: 3em;
            font-weight: 1000;
            font-family: variables.$second-font-family;
            color: variables.$third-color
        }

        li {
            padding: 10px 20px;
            border-radius: 20px;
            font-weight: 700;
            background-color: variables.$third-color;
            color: variables.$second-color;
        }
    }

    &__arrowContainer {
        margin: auto;
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.2em;

        .profilPage__arrow {
            width: 20px;
            height: 20px;
            border-top: 4px solid black;
            border-right: 4px solid black;

            &.right {
                rotate: 45deg;
            }

            &.left {
                rotate: 225deg
            }
        }
    }
}