@use '../../variables';

.profilPage__displayZone {
    margin: auto 0 auto 80px;
    width: 70vw;
    height: 70vh;
    cursor: col-resize;
    overflow: hidden;

    .profilPage__mobile {
        margin: 80px 0 0 0;
        width: 200%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        left: -50%;
    }

    .profilPage__arrowContainer {
        margin: auto;
        width: 50%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;

        .profilPage__arrow {
            width: 20px;
            height: 20px;
            border-top: 4px solid black;
            border-right: 4px solid black;

            &.right {
                rotate: 45deg;
            }

            &.left {
                rotate: 225deg
            }
        }
    }
}