@use '../../variables';

.projectGallery__card {
    margin: 0 30px 0 0;
    height: 500px;
    aspect-ratio: 1;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent 30%);
    position: relative;

    &:hover {
        background: none;
    }

    // @media (max-width: calc(variables.$extraLarge-screen - 1px)) {
    //     margin: 20px;
    // }

    // @media (max-width: variables.$large-screen) {
    //     width: 300px;
    //     height: 300px;
    //     margin: 20px auto;
    // }

    // @media (max-width: variables.$medium-screen) {
    //     width: 400px;
    //     height: 300px;
    // }

    // @media (max-width: variables.$small-screen) {
    //     width: 335px;
    //     height: 255px;
    //     margin: 25px auto 0 auto;
    // }


    .card__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        mix-blend-mode: darken;
    }

    .card__text {
        width: 100%;
        position: absolute;
        left: 20px;
        bottom: 10px;
        color: variables.$second-color;
        font-size: 1em;
    }
}