@use '../../variables';

.oneProjectPage {
    margin: 60px auto 0 auto;
    width: 70vw;
    height: 60vh;
    display: flex;
    justify-content: space-between;

    &__returnLink {
        width: 215px;
        height: 25px;
        padding: 5px 15px;
        border-radius: 25px;
        background-color: variables.$second-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            color: variables.$third-color;
            transition: color ease 0.2s;
        }

        .arrow {
            height: 15px;
            width: 15px;
            border-top: 3px solid black;
            border-right: 3px solid black;
            rotate: 225deg;
        }
    }

    &__projectImage {
        object-fit: cover;
        width: 450px;
        border-radius: 10px;
        box-shadow: 3px 3px 50px 3px rgba(0, 0, 0, 0.3);
    }

    &__description {
        width: 65%;
        margin: 0 0 0 100px;

        h3 {
            width: 80%;
            font-size: 2em;
            font-weight: 1000;
            font-variant-caps: small-caps;
            color: variables.$third-color;
            font-family: variables.$second-font-family;
        }

        p {
            margin: 10px 0 10px 30px;
        }

        li {
            margin: 10px 30px
        }

        .staticContent {
            margin: 20px 0;
            font-size: 1em;
            font-weight: 800;
            font-variant-caps: small-caps;
            color: variables.$fourth-color;
        }

        a {
            margin: 0 30px 0 0;

            img {
                margin: 20px 0 0 0;
                padding: 10px;
                border-radius: 40px;
                height: 60px;
                aspect-ratio: 1;
                background-color: transparent;
                transition: background-color ease 1s;

                &:hover {
                    background-color: variables.$second-color;
                    transition: background-color ease 0.5s;
                }
            }
        }
    }

    // @media (max-width: variables.$medium-screen) {
    //     flex-direction: column;
    //     margin: 0 0 30px 0;
    // }

    // >div {
    //     width: 47%;

    //     @media (max-width: variables.$medium-screen) {
    //         width: 100%;
    //     }
    // }
}