@use '../../variables';

@keyframes moveFont {
    0% {
        letter-spacing: -10px;
        filter: blur(20px) contrast(30);
    }

    100% {
        letter-spacing: initial;
        background: rgba(255, 255, 255, 1);
        filter: blur(0px) contrast(1);
    }
}


.landingPage {
    position: relative;
    top: -50px;
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    ;

    &__gooTitle {
        padding: 50px;
        margin: 0 50px 0 0;
        box-shadow: 5px 5px 10px 5px #FFFF;
        border-radius: 25px;
        width: 100%;

        animation: moveFont 5s forwards;
        filter: url(./gooFilter.svg#goo);

        h1 {
            width: 100%;
            font-weight: 1000;
            font-size: 6em;
            font-family: variables.$second-font-family;
            letter-spacing: 0px;
            animation: all ease-in-out 2s;

            span {
                margin: 0 0 0 49.6%;
            }
        }
    }

    &__content {
        margin: 0 0 0 100px;

        p {
            margin: 0px 0 50px 0;
            font-size: 2em;
            line-height: 1.5;
        }

        strong {
            position: relative;
            z-index: 2;
            color: variables.$third-color;
            font-weight: 800;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: variables.$second-color;
            }

            &::after {
                content: "";
                position: absolute;
                z-index: -1;
                bottom: 0;
                left: 0;
                width: 0;
                height: 1.5em;
                background-color: variables.$third-color;
                opacity: 0.3;
                transition: width 0.3s ease;
            }

            &:hover::after {
                width: 105%;
            }
        }
    }

    .landingPage__bienvenue {
        margin: 70px 0;
        font-size: 3em;
        font-weight: 800;
        color: variables.$third-color;
    }

}