@use '../../variables';

.landingPage__content {
    margin: auto 0 auto 80px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;


    h1 {
        margin: 0 0 70px 0;
        font-weight: 800;
        font-size: 4.5em;

        span {
            color: variables.$first-color;
        }
    }

    .landingPage__bienvenue {
        margin: 0 0 70px 0;
        font-size: 3em;
        font-weight: 700;
        color: variables.$first-color;
    }

    p {
        margin: 0px 0 50px 0;
        font-size: 2.5em;
        line-height: 1.5;
    }

    p strong {
        color: variables.$first-color;
        font-weight: 700;
        transition: color 0.3s ease-in-out;
    }
}