@use '../../variables';

button {
    font-size: 1em;
    font-weight: 400;
    color: variables.$second-color;
    text-align: center;
    background-color: variables.$fourth-color;

    border-radius: 50px;
    width: auto;
    padding: 7px 15px;
    transform: scale(1);
    transition: all ease 1s;

    border: none;
    cursor: pointer;

    &:hover {
        background-color: variables.$second-color;
        color: variables.$fourth-color;
        transform: scale(1.2);
        transition: all ease 0.2s;
    }

    &.active {
        background-color: variables.$second-color;
        color: variables.$fourth-color;
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

}