@use '../../variables';

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: 2px solid red;

    .AllInputsNameContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .oneInputNameContainer {
            width: 45%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            input {
                width: 100%;
            }
        }
    }

    label {
        color: black;
        font-size: 1.2em;
    }

    input, textarea {
        border: none;
        border-radius: 10px;
        margin: 10px 0 20px 0;
        padding: 10px;

        font-size: 1em;
        font-family: variables.$first-font-family;

        &::placeholder {
            font-size: 1em;
            font-family: variables.$first-font-family;
        }
    }

    input {
        height: 30px;
    }

    #firstname #lastname {
        width: 40%;
    }

    #email {
        width: 100%;
    }

    textarea {
        height: 40%;
        width: 100%;
    }

    .confirmationMessage, .errorMessage {
        position: relative;
        z-index: 2;
        margin: 15px 0 0 0;
        padding: 5px 10px;
        display: none;
        font-size: 1em;
        font-weight: 500;

        color: variables.$second-color;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1.5em;
            background-color: variables.$third-color;
            border-radius: 10px;
            opacity: 0.5;
            transition: width 0.3s ease;
        }
    }
}