@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

$primary-color: #14C8D7;
$secondary-color: white;
$tertiary-color: #F09A60;
$quaternary-color: #A35621;
$background-color: #3F9DA3;

$small-screen : 640px;
$medium-screen : 768px;
$large-screen : 1024px;
$extraLarge-screen : 1240px;

$primary-font-family : 'Nunito';