@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap');

$first-color: #14C8D7;
$second-color: #FFFF;
$third-color: #F09A60;
$fourth-color: #A35621;
$fifth-color: #3F9DA3;

$extraSmall-screen : 412px;
$small-screen : 640px;
$medium-screen : 768px;
$large-screen : 1024px;
$extraLarge-screen : 1440px;

$first-font-family : 'Nunito';
$second-font-family : 'Allerta Stencil';